.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5faf7;
    align-items: center;
  }
  
  .mt-10 {
    margin-top: 100px;
  }
  
  .recipe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .recipe-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }