.header {
    background-color: #f1e1e1;
    border-bottom: 1px solid #d1d5db;
    position: sticky;
    top: 0;
    z-index: 50;
  }
  
  .nav {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0 auto;
  }
  
  .nav__logo {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #000000;
    text-decoration: black;
  }
  
  .nav__logo img {
    height: 5rem;
    margin-right: 0.4rem;
  }
  
  .nav__menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .nav__item {
    margin-left: 1rem;
  }
  
  .nav__link {
    color: #374151;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
  }
  
  .nav__link:hover,
  .nav__link:focus {
    background-color: #505357;
    color: #a7cafa;
  }
  
  .nav__link--active {
    color: #3b82f6;
  }
  
  .nav__toggle {
    display: none;
  }
  
  .nav__close {
    display: none;
  }
  
  